<?xml version='1.0' encoding='utf-8'?>
<widget id="pro.rudloff.cordova" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LessPass</name>
    <description>
        LessPass Cordova app
    </description>
    <author email="contact@rudloff.pro" href="https://www.rudloff.pro/">
        Pierre Rudloff
    </author>
    <content src="node_modules/lesspass-pure/index.html" />
    <engine name="android" spec="~5.2.2" />
    <icon src="res/icon-128x128.png" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <preference name="StatusBarBackgroundColor" value="#555555" />
</widget>
